* {
  font-family: sans-serif;
}

form.note{
	background-color: #dddddd;
	padding: 20px;
	display: inline-block;
}
form.note textarea{
	width: 380px;
	height: 200px;
	padding: 10px;
	resize: none;
	background-color: #eeeeee;
	border:none;
	font-weight: bold;
	font-size: .8em;

}
a{
	margin: 10px;
	display: block;
}